<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pothole</title>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <style>
    .card-content
    {
        padding:5xpx !important;
    }
    </style>
</head>

<body class="grey lighten-4 ">

    <nav>
        <div class="nav-wrapper deep-purple darken-4">
          <a href="#" class="brand-logo">PWD Employee</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Welcome {{ username }}</li>
            <li><a href="/owned">Owned Complaints</a></li>
            <li><a href="/pending">Pending Complaints</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>

    <div>
        <div class="container" style="width: 85%;">
            <div class="row">
                {% for x in data %}

                {% if isPending %}
                <div class="col s12 m4">

                    <div class="card">
                        <div class="card-content black-text" id="complaint_card" >
                            <div class="card-image">
                                <img class="pothole-img"
                                    src="https://media.istockphoto.com/photos/old-highway-with-holes-and-snow-landscape-road-potholes-in-cloudy-picture-id929942316?k=6&m=929942316&s=612x612&w=0&h=FzPRKlHamWbcShYhznEv0Z4iUht4StKkoPRb0hNIFag=">
                            </div>
                            <p>Date: {{ x['registration_time'] }}
                                <br>
                                 Category: {{ x['complaint_category'] }}
                                 <br>
                                 Location: {{ x['complaint_latitude'] , x['complaint_longitude']}}
                                 <br>
                                 <b>Frequency: {{ x['upvotes'] }}</b>
                            </p>

                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn deep-purple darken-4" href="#">Show Map</a>
                            <a class="waves-effect waves-light btn deep-purple darken-4" href={{'/accept/'~x['complaint_id']|string  }}>Accept</a>
                            <a class="waves-effect waves-light btn deep-purple darken-4" href={{'/reject/'~x['complaint_id']|string   }}>Reject</a>
                        </div>
                    </div>
                </div>
                {%endif%}

                {% if not isPending %}
                <div class="col s12 m4">

                    <div class="card">
                        <div class="card-content black-text">
                            <div class="card-image">
                                <img class="pothole-img"
                                    src="https://media.istockphoto.com/photos/old-highway-with-holes-and-snow-landscape-road-potholes-in-cloudy-picture-id929942316?k=6&m=929942316&s=612x612&w=0&h=FzPRKlHamWbcShYhznEv0Z4iUht4StKkoPRb0hNIFag=" >
                            </div>
                            <p>Date: {{ x['registration_time'] }}
                                <br>
                                 Category: {{ x['complaint_category'] }}
                                 <br>
                                 Location: {{ x['complaint_latitude'] , x['complaint_longitude']}}
                                 <br>
                                 <b> Frequency:{{ x['upvotes'] }}</b>
                            </p>

                        </div>
                        <div class="card-action">
                         <!--   <a class="waves-effect waves-light btn deep-purple darken-4" href="#">Navigate</a> -->
                            <a class="waves-effect waves-light btn deep-purple darken-4" href="{{'/resolve/'~x['complaint_id']|string   }}">Resolve</a>
                            <a class="waves-effect waves-light btn deep-purple darken-4" href="#">Promote</a>
                        </div>
                    </div>
                </div>
                {%endif%}

                {%endfor%}
            </div>
        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    M.AutoInit();
</script>

</html>